.loading {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .8);
    color: #fff;
    font-size: 88px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.icon {
    border: 16px solid #dbdbdb;
    border-radius: 50%;
    border-top: 16px solid #d0a868;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    margin-top:30vh;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}