.input {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .6s;
    width: 100%;
    font-size: 13px;
}
.style1{
    border-radius: 8px;
    color: #bcaad7;
    border: 1px solid #fff;
}
.style3{
    border-radius: 8px;
    color: #9c7235;
    border: 1px solid #fff;
}
.style2{
    border-radius: 25px;
    color: #fff;
    background: #eee;
    border: 1px solid #eee;
}

label,
input {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 5px;
    margin-left: 15px;
}

input.error {
    border-color: red;
}

.feedback {
    color: rgb(235, 54, 54);
    margin-top: -5px;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-style: italic;
    text-align: left;
    font-weight: bold;
}
.default {
    color:#000;
}
.primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.success {
    background-color: #4caf50;
    border-color: #4cae4c;
    &:hover {
        cursor: pointer;
        background-color: #1da224;
    }
}
.info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}